* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

p {
	font-size: 1.6rem;
}

html{
	font-size: 62.5%;
	background: linear-gradient(90deg, rgba(45,51,77,1) 0%, rgba(45,51,77,1) 50%, rgba(61,69,105,1) 50%, rgba(61,69,105,1) 100%);
	color: white;
}


body{
	box-sizing: border-box;
	line-height: 1.7;
}

.main {
	margin: 5rem auto;
	width: 980px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;

}


.instruction {
	margin: 5rem auto;
	width: 980px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	
}

.howto {
	font-size: 26px;
}

.step {
	font-size: 19px;
}

input {
	width: 100%;
	margin: 10px auto;
	padding: 10px 15px;
	border: none;
	border-bottom: 1px solid black;
	transition: all .2;
	font-size: 1.7rem;
}

input:focus {
	border: 1px solid orangered;
}

button {
	width: 80px;
	height: 40px;
	background: darkblue;
	border: 2px solid transparent;
	color: white;
	letter-spacing: 1px;
	transition: all .2s;
}

button:hover {
	cursor: pointer;
	border: 2px solid darkblue;
	background: white;
	color: darkblue;
	width: 90px;
}

.encrypt, .decrypt {
	background: white;
	color: black;
	padding: 10px 20px;
	position: relative;
	margin-top: 8rem;

}

.encryptSign, .decryptSign {
	position: absolute;
	content: '';
	top: -8rem;
	font-size: 4rem;
	color: white;
	left: 50%;
	transform: translateX(-50%);

}


.encrypt p, .decrypt p {
	margin: 1rem;
}

#encrypted-message, #decrypted-message {
	font-size: 1.6rem;
	/*padding: 1rem;*/
	/*border: 1px solid red;*/
}



.logoText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 32px;
    background: rgb(45,51,77);
    padding-right: 1rem;
}

.logo img {
	width: 5rem;
}

.logo {
	display: flex;
	justify-content: center;
	margin: 3rem auto;
}
.about {
	width: 980px;
	margin: 5rem auto;
}

.about h2 {
	font-weight: 100;
	font-size: 20px;
}

.col {
	width: 980px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.col p:nth-child(2) {
	color: rgba(255,255,255,0.7);
	margin-left: 1rem;
}

.check {
	width: 13px;
}

.copyrights {
	/*position: absolute;
	bottom: 0;
	right: 0;*/
	float: right;
	margin: 1rem;
}

a {
	color: white;
	padding: .5rem;
	text-decoration: none;
	border-bottom: 1px solid white;
}

@media(max-width: 979px) {

	html {
		background: rgb(45,51,77);
	}

	.main {
		margin: 5rem auto;
		width: auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 20px;
		padding: 3rem;
	}


	.instruction {
		margin: 5rem auto;
		width: auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 10rem;
		padding: 3rem;
		

	}

	.col {
		display: grid;
		width: auto;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr; 
		padding: 1rem;
		grid-gap: 3rem;
	}

	.about {
		width: auto;
	}
}